<search-filter-widget></search-filter-widget>
<div class="card">
    <h2> Display Content on the Default Component</h2>
    <h3> Some related subtitle</h3>
    <p class="blurb">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ducimus modi nostrum voluptates quae perferendis veritatis
        atque aut ratione, vitae quas consequatur velit tenetur vel 
        iusto debitis animi blanditiis quo at. <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ducimus modi nostrum voluptates quae perferendis veritatis
        atque aut ratione, vitae quas consequatur velit tenetur vel 
        iusto debitis animi blanditiis quo at. <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ducimus modi nostrum voluptates quae perferendis veritatis
        atque aut ratione, vitae quas consequatur velit tenetur vel 
        iusto debitis animi blanditiis quo at. <br>
    </p>

</div>
<footer> <h4>Some extra info</h4> </footer>