<search-filter-widget></search-filter-widget>
<div class="card">
    <h2> Profile: {{details.userProfile.socialName}}</h2>
    <h3> Some profile related subtitle</h3>
    <p class="blurb">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ducimus modi nostrum voluptates quae perferendis veritatis
        atque aut ratione, vitae quas consequatur velit tenetur vel 
        iusto debitis animi blanditiis quo at. <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ducimus modi nostrum voluptates quae perferendis veritatis
        atque aut ratione, vitae quas consequatur velit tenetur vel 
        iusto debitis animi blanditiis quo at. <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ducimus modi nostrum voluptates quae perferendis veritatis
        atque aut ratione, vitae quas consequatur velit tenetur vel 
        iusto debitis animi blanditiis quo at. <br>
    </p>
    {{ details.userProfile | json }}

</div>
<footer> <h4>Some extra profile info</h4> </footer>